#1. https://wikidocs.net/book/922

In [5]:
#014 파이썬을 이용한 값 계산
a=2
b=2
c=3
d = a+(2*3)
d

8

In [8]:
#015 type 함수
a = "132"
print(type(a))

<class 'str'>

In [10]:
#016 문자열을 정수로변환
num_str = "720"
num_str = int(num_str)
print(type(num_str))

<class 'int'>

In [12]:
#017 정수를 문자열100으로 변환
num = 100
num = str(num)
print(type(num))

<class 'str'>

In [13]:
#018 문자열을 실수로 변환
strName = "15.79"
strName = float(strName)
print(type(strName))

<class 'float'>

In [14]:
#019 문자열을 정수로 변환
year = "2000"
year = int(year)
print(type(year))

<class 'int'>

In [ ]:
#019 문자열을 정수로 변환
year = "2000"
year = int(year)
print(type(year))

<class 'int'>

In [4]:
#020 파이썬 계산
#에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요(변수사용)
airCon = 48584 #float(48584)
month = 36
total = airCon * month
print(format(total,','))

#format(num,',')은 숫자 3자리마다 콤마를 넣습니다.
# num = 120000000
# print(format(num,','))

1,749,024

In [7]:
#021 문자열 인덱싱
letters = 'python'
letters[0],letters[2]

('p', 't')

In [9]:
#022문자열 슬라이싱
license_plate = "24가 2210"
print(license_plate[-4:])

##############################
#음수 값은 문자열의 뒤에서부터 인덱싱 또는 슬라이싱함을 의미합니다.
# 슬라이싱에서 시작 인덱스를 생락혀면 0으로 간주하고 끝 인덱스를 생략하면 문자열의 끝을 의미합니다.
#################################

2210

In [11]:
#023문자열 인덱싱
string = "홀짝홀짝홀짝"
print(string[0],string[2],string[4])
#####################################
#슬라이싱할 때 `시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.
print(string[::2])

홀 홀 홀
홀홀홀

In [15]:
#024문자열 슬라이싱
string = "PYTHON"
print(string[::-1])

NOHTYP

In [18]:
#025 문자열 치환
phone_number = "010-1111-2222"
phone_number =phone_number.replace("-"," ")
phone_number

'010 1111 2222'

In [20]:
#026 문자열 다루기
phone_number = "010-1111-2222"
phone_number =phone_number.replace("-","")
phone_number

'01011112222'

In [1]:
#027 문자열 다루기
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [2]:
#028 문자열은 immutable
lang = 'python'
lang[0] ='p'
print(lang)

TypeError: 'str' object does not support item assignment

In [4]:
#029 replace 메서드
string = 'abcdfe2a354a32a'
stringA = string.replace('a','A')
print(stringA)

Abcdfe2A354A32A

In [6]:
#030 replace메서드
string = 'abcd'
string.replace('b','B')
print(string)

abcd

In [7]:

#031 문자열 합치기
a = "3"
b = "4"
print(a+b)

34

In [8]:
#032문자열 곱하기
print("Hi" * 3)

HiHiHi

In [21]:
#033문자열 곱하기
#화면에 '-'를 80개 출력하세요.
minus = '-'
total = minus * 80
print(len(total))
print(total)

80
--------------------------------------------------------------------------------

In [31]:
#034 문자열 곱하기

t1 = 'python'
t2 = 'java'

num1 = (t1+' '+t2+' ')
sum = num1 *4
sum

'python java python java python java python java '

In [47]:
#035문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [48]:
#036 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#037 문자열 출력
# f-string은 문자열 앞에 f가 붙은 형태입니다.
# f-string을 사용하면 `{변수}`와 같은 형태로
#   문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

In [61]:
#038컴마 제거하기
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(',','')
컴마제거인트 = int(컴마제거)
print(컴마제거인트,type(컴마제거인트))

5969782550 <class 'int'>

In [66]:
#039문자열 슬라이싱
#다음과 같은 문자열에서 2020/03만 출력하세요
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [74]:
#040 strip 메서드
data = "   삼성전자    "
mun = data.strip()
mun

'삼성전자'