In [1]:
import pandas as pd

In [12]:
col2=["성별","이름","나이","거주지","CJ포인트"]
row1 = ["남성","배진우","26","서울",56]
row2 = ["여성","김고은","32","서울",46]
row3 = ["남성","김수현","34","서울",87]
row4 = ["여성","안지현","27","경기도",84]
row5 = ["남성","최정","36","경기도",62]

data = pd.DataFrame([row1, row2,row3,row4,row5])
data.columns = col2

In [ ]:
CJ포인트평균

In [ ]:
##그룹키 성별 [cj] <- 집계함수(mean)

In [15]:
groupKey =["성별","거주지"]

In [16]:
data.groupby(by=groupKey)["CJ포인트"].agg(["mean"])

        mean
성별 거주지
남성 경기도  62.0
   서울   71.5
여성 경기도  84.0
   서울   46.0