In [69]:
# Pandas 패키지 불러오기
import pandas as pd
import numpy as np

# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

In [53]:
customerData["PRODUCTAGE_NEW"]=\
np.where(customerData.PRODUCTAGE<= 1, 1,\
    np.where(customerData.PRODUCTAGE<=2,2,3))
#PRODUCTAGE < 1 경우 1 그외에는 기존값

In [54]:
customerData["PRODUCTAGE_NEW"] = np.where(customerData.PRODUCTAGE < 1, 1,0)

In [55]:
customerData.loc[customerData.CUSTID=="A13566"]

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.9,3,6,1.679181,Big-Screen-lover,0

In [56]:
customerData.loc[customerData.CUSTID=="A13566", "EMI"] = 10

In [57]:
customerData.loc[(customerData.PRODUCTAGE >= 1)&
                (customerData.PRODUCTAGE != customerData.PRODUCTAGE_NEW)]

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.900000,10,6,1.679181,Big-Screen-lover,0
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,0
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,0
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,0
5,B16849,3755.263391,2,4,2.786665,Sleeping-dog,0
...,...,...,...,...,...,...,...
144,Z12772,3029.600000,2,4,2.093035,Big-Screen-lover,0
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,0
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,0
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,0
149,Z19835,3326.526183,2,6,1.200000,Early-bird,0

In [58]:
np.where(customerData.PRODUCTAGE < 1, 1,
    np.where(customerData.PRODUCTAGE < 2,2,
            np.where(customerData.PRODUCTAGE < 3,3,4)))
#PRODUCTAGE < 1 경우 1 그외에는 기존값

array([2, 3, 4, 1, 3, 3, 1, 3, 3, 4, 4, 2, 3, 1, 4, 3, 3, 3, 3, 3, 3, 2,
       2, 1, 1, 3, 2, 2, 4, 3, 1, 4, 4, 2, 3, 3, 2, 1, 1, 2, 1, 2, 3, 3,
       1, 1, 3, 3, 1, 3, 3, 1, 1, 1, 3, 1, 3, 2, 3, 3, 2, 2, 1, 3, 2, 2,
       3, 2, 2, 2, 3, 1, 3, 3, 2, 3, 3, 1, 1, 2, 1, 3, 1, 3, 1, 3, 3, 1,
       3, 4, 3, 3, 3, 3, 2, 1, 2, 2, 2, 2, 3, 4, 3, 3, 2, 1, 2, 3, 3, 3,
       3, 3, 3, 2, 4, 3, 3, 1, 4, 3, 3, 3, 3, 4, 3, 1, 1, 2, 3, 3, 2, 2,
       1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 2, 2])

In [70]:
customerData.head

<bound method NDFrame.head of      CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]>

In [60]:
#복잡한 로직 힘듬ㅠ

In [61]:
inValue = 1.5
outValue =1

In [71]:

def test (inValue):
    outValue = 1
    if inValue < 1:
        outValue = 1
    elif inValue < 2:
        outValue =2
    elif inValue < 3:
        outValue =3
    else :
        outValue =4
    
    return inValue

In [63]:
customerData["PRODUCTAGE_NEWF"] = customerData.PRODUCTAGE.apply(test)

In [ ]:
customerData.EMI = customerData.EMI.astype(str)

In [ ]:
customerData["NC"] = customerData.CUSTID.str[1:]+"="+customerData.EMI.astype(str)