In [1]:
import pandas as pd

from collections import OrderedDict
import numpy as np

dic = OrderedDict([
    ('col', [1,2,np.nan, 4,np.nan,6,7,8,np.nan,10]),
    ('group1',['A','A','A','A','A','B','B','B','B','B']),
    ('group2',['a1','a1','a2','a2','a2','b1','b1','b2','b2','b3'])
])
data = pd.DataFrame(dic)

In [5]:
data

    col group1 group2
0   1.0      A     a1
1   2.0      A     a1
2   NaN      A     a2
3   4.0      A     a2
4   NaN      A     a2
5   6.0      B     b1
6   7.0      B     b1
7   8.0      B     b2
8   NaN      B     b2
9  10.0      B     b3

In [6]:
data.groupby(["group1","group2"]).count().unstack()

        col
group2   a1   a2   b1   b2   b3
group1
A       2.0  1.0  NaN  NaN  NaN
B       NaN  NaN  2.0  1.0  1.0

In [4]:
data.groupby(["group1","group2"]).size()

group1  group2
A       a1        2
        a2        3
B       b1        2
        b2        2
        b3        1
dtype: int64