In [ ]:
targetUrl ="https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002697994&fileDetailSn=1&dataNm=%ED%96%89%EC%A0%95%EC%95%88%EC%A0%84%EB%B6%80_%EC%A7%80%EC%97%AD%EB%B3%84(%ED%96%89%EC%A0%95%EB%8F%99)%20%EC%84%B1%EB%B3%84%20%EC%97%B0%EB%A0%B9%EB%B3%84%20%EC%A3%BC%EB%AF%BC%EB%93%B1%EB%A1%9D%20%EC%9D%B8%EA%B5%AC%EC%88%98_20230228"

In [ ]:
import pandas as pd

In [ ]:
inData = pd.read_csv(targetUrl, encoding="ms949")

In [ ]:
pd.read_csv(targetUrl, encoding="ms949")

,행정기관코드,기준연월,시도명,시군구명,읍면동명,계,남자,여자,만0세남자,만1세남자,...,만101세여자,만102세여자,만103세여자,만104세여자,만105세여자,만106세여자,만107세여자,만108세여자,만109세여자,만110세이상여자
0,1111051500,2023-02-28,서울특별시,종로구,청운효자동,11605,5325,6280,14,22,...,1,0,0,0,0,0,0,0,0,0
1,1111053000,2023-02-28,서울특별시,종로구,사직동,9120,4060,5060,12,24,...,0,0,0,0,0,0,0,0,0,0
2,1111054000,2023-02-28,서울특별시,종로구,삼청동,2322,1104,1218,2,2,...,0,0,0,0,0,0,0,0,0,0
3,1111055000,2023-02-28,서울특별시,종로구,부암동,9178,4340,4838,13,14,...,1,1,0,0,0,0,0,0,0,0
4,1111056000,2023-02-28,서울특별시,종로구,평창동,17602,8212,9390,33,46,...,2,0,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3574,5013058000,2023-02-28,제주특별자치도,서귀포시,서홍동,11236,5556,5680,39,49,...,1,0,0,0,0,0,0,0,0,0
3575,5013059000,2023-02-28,제주특별자치도,서귀포시,대륜동,15567,7837,7730,59,66,...,2,0,1,2,0,0,0,0,0,0
3576,5013060000,2023-02-28,제주특별자치도,서귀포시,대천동,13650,6913,6737,52,45,...,0,1,0,0,0,0,0,0,0,0
3577,5013061000,2023-02-28,제주특별자치도,서귀포시,중문동,12293,6249,6044,27,38,...,1,0,0,1,0,0,0,0,0,0
3578,5013062000,2023-02-28,제주특별자치도,서귀포시,예래동,3880,1994,1886,4,7,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
inData

,행정기관코드,기준연월,시도명,시군구명,읍면동명,계,남자,여자,만0세남자,만1세남자,...,만101세여자,만102세여자,만103세여자,만104세여자,만105세여자,만106세여자,만107세여자,만108세여자,만109세여자,만110세이상여자
0,1111051500,2023-02-28,서울특별시,종로구,청운효자동,11605,5325,6280,14,22,...,1,0,0,0,0,0,0,0,0,0
1,1111053000,2023-02-28,서울특별시,종로구,사직동,9120,4060,5060,12,24,...,0,0,0,0,0,0,0,0,0,0
2,1111054000,2023-02-28,서울특별시,종로구,삼청동,2322,1104,1218,2,2,...,0,0,0,0,0,0,0,0,0,0
3,1111055000,2023-02-28,서울특별시,종로구,부암동,9178,4340,4838,13,14,...,1,1,0,0,0,0,0,0,0,0
4,1111056000,2023-02-28,서울특별시,종로구,평창동,17602,8212,9390,33,46,...,2,0,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3574,5013058000,2023-02-28,제주특별자치도,서귀포시,서홍동,11236,5556,5680,39,49,...,1,0,0,0,0,0,0,0,0,0
3575,5013059000,2023-02-28,제주특별자치도,서귀포시,대륜동,15567,7837,7730,59,66,...,2,0,1,2,0,0,0,0,0,0
3576,5013060000,2023-02-28,제주특별자치도,서귀포시,대천동,13650,6913,6737,52,45,...,0,1,0,0,0,0,0,0,0,0
3577,5013061000,2023-02-28,제주특별자치도,서귀포시,중문동,12293,6249,6044,27,38,...,1,0,0,1,0,0,0,0,0,0
3578,5013062000,2023-02-28,제주특별자치도,서귀포시,예래동,3880,1994,1886,4,7,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
inData.head(15)

,행정기관코드,기준연월,시도명,시군구명,읍면동명,계,남자,여자,만0세남자,만1세남자,...,만101세여자,만102세여자,만103세여자,만104세여자,만105세여자,만106세여자,만107세여자,만108세여자,만109세여자,만110세이상여자
3577,5013061000,2023-02-28,제주특별자치도,서귀포시,중문동,12293,6249,6044,27,38,...,1,0,0,1,0,0,0,0,0,0
3578,5013062000,2023-02-28,제주특별자치도,서귀포시,예래동,3880,1994,1886,4,7,...,0,0,0,0,0,0,0,0,0,0