# 참조. 데이터베이스 데이터 수집 및 저장 (Oracle)

In [1]:
# 설치필요 라이브러리 : pip install cx_Oracle
import pandas as pd
from sqlalchemy import create_engine,types
id = "HAITEAM"
pw = "HAITEAM"
ip = "192.168.110.17"
port = "1521"
dbName = "XE"
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName)    )

In [7]:
# 테이블 전체 조회 select * from tabs와 유사
# engine.table_names()

In [26]:
# csv 파일 불러오기
#gunmu=pd.read_csv("./근무지.csv",encoding="ms949")
buseo=pd.read_csv("./부서.csv",encoding="ms949")
sawon=pd.read_csv("./사원.csv",encoding="ms949")
jikgb=pd.read_csv("./직급.csv",encoding="ms949")

In [27]:
tableName = "JIKGB_TEST"

#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(jikgb.columns[jikgb.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 

jikgb.to_sql(name=tableName, if_exists="replace", con=engine,dtype=typeDict, index=False)

C:\Users\SMART17\Anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name 'JIKGB_TEST' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

6

In [ ]:
BUSEO_TEST
SAWON_TEST
KNMUJI_TEST
JIKGB_TEST