In [21]:
import requests, bs4
import pandas as pd
from bs4 import BeautifulSoup

In [22]:
url = 'https://finance.naver.com/item/sise_day.naver?code=005930'
req = requests.get(url, headers={'User-agent': 'Mozilla/5.0'})
html = BeautifulSoup(req.text, "lxml")

In [23]:
pgrr = html.find('td', class_='pgRR')
print(pgrr.a['href'])

/item/sise_day.naver?code=005930&page=672

In [24]:
s = pgrr.a['href'].split('=')
print(s)

['/item/sise_day.naver?code', '005930&page', '672']

In [25]:
last_page = s[-1]
print(last_page)

672

In [28]:
headers = {'User-agent': 'Mozilla/5.0'}
url = 'https://finance.naver.com/item/sise_day.naver?code=005930'
df = None

for page in range(1, int(last_page)+1):
    req = requests.get(f'{url}&page={page}', headers=headers)
    df = pd.concat([df, pd.read_html(req.text, encoding = 'euc-kr')[0]], ignore_index=True)

In [29]:
df.dropna(inplace = True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df

              날짜       종가     전일비       시가       고가       저가         거래량
0     2023.04.05  63900.0   300.0  63700.0  64000.0  63400.0   9051129.0
1     2023.04.04  63600.0   500.0  63400.0  63800.0  62800.0  11120514.0
2     2023.04.03  63100.0   900.0  64000.0  64000.0  63000.0  11973133.0
3     2023.03.31  64000.0   800.0  64000.0  64000.0  63700.0  14094479.0
4     2023.03.30  63200.0   500.0  63700.0  63700.0  63100.0  15684377.0
...          ...      ...     ...      ...      ...      ...         ...
6715  1996.07.01  72000.0  3500.0  69000.0  72300.0  68800.0    147310.0
6716  1996.06.29  68500.0   400.0  68100.0  69100.0  67100.0     96710.0
6717  1996.06.28  68100.0  1200.0  67300.0  68500.0  67200.0    138430.0
6718  1996.06.27  66900.0   800.0  67500.0  67700.0  66700.0    155450.0
6719  1996.06.26  67700.0   200.0  67600.0  67900.0  66000.0    136630.0

[6720 rows x 7 columns]

In [ ]:
df.to_excel("../../sasmsung_stock.xlsx", index=False)