## 1.코드 꼭 까보기

In [155]:
import pandas as pd


row1List = ["김철수","1","1h"]
row2List = ["김영희","1","1h"]
row3List = ["배진우","1","abc@naver.com"]

testDf = pd.DataFrame([row1List,row2List,row3List])
testDf.columns = ["이!#%%름","학#!$%%번","이%@#@$메%일"]

columnList = list(testDf.columns)

for i in range(0, len(columnList)):    
    columnList[i]=columnList[i].replace("%%","").replace("%%","").replace("!","").replace("#","").replace("$","").replace("@","")#컬럼의 기호 replace
    
    #.replace(/"!" | "#" | "%" | "$"/g , "")
    
    

columnList

testDf.columns = newColumn

testDf

#1.헤더는 주석처리한다
#2.로직은 shift+tab으로 땡긴다 
#3. i값을 위에 선언 후 돌려본다 하나씩!
# for i in len(0, columnList)):
#    columnList[i] = columnList[i].replace("$","") #들여쓰기*****

    이름 학번            이메일
0  김철수  1             1h
1  김영희  1             1h
2  배진우  1  abc@naver.com

In [90]:
#1.헤더는 주석처리한다
#2.로직은 shift+tab으로 땡긴다 
#3. i값을 위에 선언 후 돌려본다 하나씩!
# for i in len(0, columnList)):
#    columnList[i] = columnList[i].replace("$","") #들여쓰기*****

In [ ]:
for문의 쓰임새를 알기 위해 다음과 같은 문제를 생각해 보자.

총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오.
우선 학생 5명의 시험 점수를 리스트로 표현해 보자.

marks = [90, 25, 67, 45, 80]
1번 학생은 90점이고 5번 학생은 80점이다.

이런 점수를 차례로 검사해서 합격했는지 불합격했는지 통보해 주는 프로그램을 만들어 보자.

불합격입니다
불합격입니다
불합격입니다
불합격입니다
불합격입니다

In [154]:
# marks1.py
marks = [90, 25, 67, 45, 80]

count = 0 
for mark in marks: 
    count = count +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

5번 학생은 합격입니다.
5번 학생은 불합격입니다.
5번 학생은 합격입니다.
5번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [166]:
tree = 0

while tree < 10:
    tree = tree+1
    print("나무찍기")
    if tree == 10:
        print("나무잘림")

나무찍기
나무찍기
나무찍기
나무찍기
나무찍기
나무찍기
나무찍기
나무찍기
나무찍기
나무찍기
나무잘림

In [175]:
money = 5000
taxi = 4800
if money >= taxi :
    print("taxi")
else:
    print("walk")

taxi

In [243]:
prefix = "대출상품_"
targetItem = ["EN001","EN002","EN003"]

for i in range(0, 3):#len(targetItem)
    targetItem = prefix+targetItem[0]
    targetItem = prefix+targetItem[1]
    targetItem = prefix+targetItem[2]
    print(targetItem)

대출상품_상
대출상품_상
대출상품_상