In [1]:
#라이브러리 정의
import numpy as np
import pandas as pd

In [2]:
from tensorflow import keras
from tensorflow.keras import layers

In [3]:
#데이터불러오기
featuresData = pd.read_csv("../dataset/feature_regression_example.csv")

In [4]:
sortKey = ["REGIONID","PRODUCTGROUP","PRODUCT","ITEM","YEARWEEK"]
featuresData = featuresData.sort_values(sortKey)

In [5]:
from sklearn.preprocessing import LabelEncoder
le_yn= LabelEncoder

In [6]:
featuresData ["LE_PROMO"] = \
 le_yn.fit_transform(featuresData.PROMOTION)
featuresData ["LE_HOLI"] = \
 le_yn.fit_transform(featuresData.HOLIDAY)

TypeError: wrapped() missing 1 required positional argument: 'X'

In [ ]:
label = ["QTY"]

In [ ]:
features = list(set(featuresData.select_dtypes(np.number).columns)-set(label))
features

['HCLUS', 'PRO_PERCENT', 'WEEK', 'YEARWEEK', 'YEAR']

In [ ]:
csData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155
...,...,...,...,...,...,...,...,...,...,...,...,...
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412,Y,0,Y,0.421888
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955,N,4,Y,0.421888
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361

In [ ]:
csData.label.drop_duplicates()

0     normal
1    diamond
4        vip
Name: label, dtype: object

In [ ]:
labelMap = {"normal":1,"diamond":2,"vip":3}

In [ ]:
csData["label_no"] = csData.label.map(labelMap)

In [ ]:
csData

         balance     stock    label  label_no
0       30000000  22500000   normal         1
1      280000000  48000000  diamond         2
2      300000000  40666666  diamond         2
3       54000000  28000000   normal         1
4      768000000  32000000      vip         3
...          ...       ...      ...       ...
19995  628000000  44666666  diamond         2
19996  276000000  20000000   normal         1
19997  652000000  41333333  diamond         2
19998  676000000  45333333  diamond         2
19999  732000000  26000000  diamond         2

[20000 rows x 4 columns]

In [ ]:
csData.dtypes

balance      int64
stock        int64
label       object
label_no     int64
dtype: object

In [ ]:
csTypeMap = {"normal":1,"diamond":2,"vip":3}

In [ ]:
csData["LABEL_MAP"] = csData.label.map(csTypeMap)

In [ ]:
corrDf = csData.corr()

In [ ]:
STDCORR = 0.5

In [ ]:
features =list( corrDf.loc[(abs(corrDf.LABEL_MAP) > STDCORR) &
                (abs(corrDf.LABEL_MAP)!=1)].index)

In [ ]:
features

['balance', 'stock']

In [ ]:
label = ["label"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
trainingDataFeatures,\
testDataFeatures,\
trainingDataLabel,\
testDataLabel = train_test_split(csData.loc[:,features],
                                csData.loc[:,label],
                                test_size=0.3, random_state=5)

In [ ]:
print(trainingDataFeatures.shape)
print(testDataFeatures.shape)
print(trainingDataLabel.shape)
print(testDataLabel.shape)

(14000, 2)
(6000, 2)
(14000, 1)
(6000, 1)

In [ ]:
scmModel = svm.SVC( C=1)
treeModel tree.DecisionTreeClassifier(random_state=10)
rfModel = ensemble.RandomForestClassifier(random_state=5)
knnModel = neighbors.KNeighborsClassifier(n_neighbors=3)

In [ ]:
svmModelFit = svmModel.fit(X=trainingDataFeatures, y=trainingDataLabel)
treeModelFit = treeModel.fit(X=trainingDataFeatures, y=trainingDataLabel)
rfModelFit = rfModel.fit(X=trainingDataFeatures, y=trainingDataLabel)
knnModelFit = knnModel.fit(X=trainingDataFeatures, y=trainingDataLabel)

In [ ]:
svmPredict = svmModelFit.predict(testDataFeatures)
dtPredict = dtModelFit.predict(testDataFeatures)
rfPredict = rfModelFit.predict(testDataFeatures)
knnPredict = knnModelFit.predict(testDataFeatures)

In [ ]:
testDataLabel["SVM_PREDICT"] = svmPredict
testDataLabel["DT_PREDICT"] = dtPredict
testDataLabel["RF_PREDICT"] = rfPredict
testDataLabel["KNN_PREDICT"] = knnPredict

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
SVMACCUARCY = classification_report(y_true = testDataLabel.label,
                    y_pred=testDataLabel.SVM_PREDICT)
dtACCUARCY = classification_report(y_true = testDataLabel.label,
                    y_pred=testDataLabel.DT_PREDICT)
rfACCUARCY = classification_report(y_true = testDataLabel.label,
                    y_pred=testDataLabel.RF_PREDICT)
knnACCUARCY = classification_report(y_true = testDataLabel.label,
                    y_pred=testDataLabel.KNN_PREDICT)

In [ ]:
pd.DataFrame( [[SVMACCUARCY], dtACCUARCY, rfACCUARCY,knnACCUARCY]
            columns=["SVM","DT","RF","KNN"])

In [ ]:
testDataLabel

In [ ]:
features

In [ ]:
inBlance = 300000
inStock = 3000000
testData = pd.DataFrame([inBlance, inBlance])

In [ ]:
treeModeFit.predict(testData)