#라이브러리 선언

In [1]:
import pandas as pd

selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY
0           A60   PRODUCT4    201402     71.0
1           A60  PRODUCT59    201402  22275.0
2           A60  PRODUCT34    201402   4463.0
3           A60  PRODUCT47    201402      0.0
4           A60  PRODUCT56    201402     23.0
...         ...        ...       ...      ...
124653      A10  PRODUCT60    201630    824.0
124654      A10  PRODUCT56    201630    275.0
124655      A10  PRODUCT61    201630      0.0
124656      A10  PRODUCT12    201630  15021.0
124657      A10   PRODUCT1    201630    568.0

[124658 rows x 4 columns]

In [5]:
selloutData.loc[selloutData.QTY<0]

       REGIONID    PRODUCT  YEARWEEK   QTY
65          A02  PRODUCT16    201403  -1.0
338         A08  PRODUCT36    201402  -1.0
1270        A14  PRODUCT36    201405  -1.0
1616        A17  PRODUCT60    201402  -1.0
2035        A39   PRODUCT7    201404 -12.0
...         ...        ...       ...   ...
123677      A39  PRODUCT25    201628  -1.0
123957      A39  PRODUCT50    201627  -1.0
123970      A39  PRODUCT25    201627  -1.0
124148      A13   PRODUCT5    201648  -6.0
124532      A32  PRODUCT14    201627  -2.0

[323 rows x 4 columns]

In [6]:
selloutData.describe()

           YEARWEEK           QTY
count  124658.00000  1.246580e+05
mean   201526.66879  8.949287e+03
std        82.77994  4.294973e+04
min    201401.00000 -3.640000e+02
25%    201440.00000  3.200000e+01
50%    201527.00000  2.820000e+02
75%    201613.00000  2.223000e+03
max    201652.00000  1.663206e+06

In [7]:
# for i in range(0,len(csCol)):
#     try:
#         customerData[csCol[i]] =customerData[csCol[i]].astype(str)
#     except Exception as e:
#         print(e)

In [8]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [9]:
selloutData.loc[[0,1,2]]

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0

In [18]:
regData = selloutData.loc[:,["REGIONID"]]
regData.dtypes

REGIONID    object
dtype: object

In [19]:
ProData = selloutData.loc[:,["PRODUCT"]]
ProData.dtypes

PRODUCT    object
dtype: object

[데이터타입 통합]
kopo_channel_seasonality_new.csv
파일을 불러온 후
selloutData
변수에 담으세요 이후
QTY 컬럼→실수(float),
이외컬럼 문자→(str)로 변경하세요

In [23]:
selloutData["REGIONID"]=selloutData["REGIONID"].astype(str)
selloutData = selloutData.astype(
    {"REGIONID":str,
    "PRODUCT":str,
    "YEARWEEK":str
    })

selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object